@import url(./fonts_colors.css);

html{
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #BDE26C;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5.5rem;
    height: 5rem;
}
header .logotipo{
    display: flex;
    align-items: start;
}
.logotipo {
    width: 4rem;
}

.login-button {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #56B4D8;
}

.button{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #008037;
}