@import url(./fonts_colors.css);


main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 73px;
}

.Logo_pagina_login {
    width: 689px;
    height: 640px;
}

.parte_login {
    width: 540px;
    height: 486px;
    border-radius: 30px;
    background-color: #4DA2C2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.itens_login {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login_esc {
    width: 100%;
    margin-left: 26.9px;
    margin-top: 14px;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 58px;
}

.email {
    margin-top: 15px;
    width: 473px;
    height: 50px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 1rem;

}

.senha {
    margin-top: 15px;
    width: 473px;
    height: 50px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 1rem;
}

#botao_entrar {
    width: 473px;
    height: 50px;
    border-radius: 5rem;
    border: none;
    text-decoration: none;
    background-color: #BDE26C;
    color: #fff;
    margin-bottom: 21px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#botao_esqueceu {
    text-decoration: none;
    color: #034187;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 23px;
}
hr {
    width: 473px;
    border: 2px black solid ;
    border-radius: 10rem;
}
#criar_conta {
    border: none;
    color: #fff;
    background-color: #7ED957;
    margin-top: 37px;
    margin-bottom: 27px;
    width: 287px;
    height: 50px;
    border-radius: 15rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/* -----------hover---------- */


#botao_entrar:hover {
    font-family: 'Montserrat', sans-serif;
    background-color: #8FBC2D;
    font-size: 25px;
    cursor: pointer;
}


#botao_esqueceu:hover {
    color:  #0C68D1;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#criar_conta:hover {
    cursor: pointer;
    background-color: #4CA426;
    font-family: 'Montserrat', sans-serif;
}