@import url(./fonts_colors.css);

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5625rem;
  margin-top: 5rem;
}

.Logo_pagina_login {
    width: 43.0625rem;
    height: 40rem;
}

.parte_login {
    width: 33.75rem;
    height: 30.375rem;
    border-radius: 30px;
    background-color: #4DA2C2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itens_login {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login_esc {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.875rem;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.625rem;
}

.email {
    margin-top: 0.9375rem;
    width: 29.5625rem;
    height: 3.125rem;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625rem;
    padding: 1rem;

}

.senha {
    margin-top: 0.9375rem;
    width: 29.5625rem;
    height: 3.125rem;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625rem;
    padding: 1rem;
}

#botao_entrar {
    width: 29.5625rem;
    height: 3.125rem;
    border-radius: 80px;
    border: none;
    text-decoration: none;
    background-color: #BDE26C;
    color: #fff;
    margin-bottom: 1.3125rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
}

#botao_esqueceu {
    text-decoration: none;
    color: #034187;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625rem;
    margin-bottom: 1.4375rem;
}

hr {
    width: 29.5625rem;
    border: 2px black solid ;
    border-radius: 10rem;
}

.criar_conta {
    border: none;
    color: #fff;
    background-color: #7ED957;
    margin-top: 2.3125rem;
    margin-bottom: 1.6875rem;
    width: 17.9375rem;
    height: 3.125rem;
    border-radius: 240px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
}

/* -----------hover---------- */

.btnOK {
    border: none;
    color: #fff;
    background-color: #7ED957;
    margin-top: 2.3125rem;
    margin-bottom: 1.6875rem;
    width: 17.9375rem;
    height: 3.125rem;
    border-radius: 240px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    margin-left: 6rem;
  }

  .h2pop, .fecharimg{
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
    justify-content: center;
    align-items: center;
  }

  .pop_up {
    margin-inline: auto;
  }
  
  .pop_up > div{
    background-color: #4DA2C2;
    color: #fff;
  }

  .pop_up h2{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-right: 15rem;
    margin-bottom: 1rem;
  }

  .form {
    border-radius: 0.35rem;
    color: #A09797;
    width: 100%;
    height: 2.4rem;
  }

  .fechar{
    width: 150%;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

/* ---------- parte do pop-up do cadastro---------- */

@media screen and (max-width: 768px) {

  header{
    width: 100vw;
    gap: .5rem;
    height: 6.625rem;
  }

  .logotipo {
    margin-top: 1.5rem;
    width: 5.625rem;
    height: 5.625rem;
}

  .button{
    font-size: 1rem;
    height: 2.4rem;
  }

  .login-button{
    font-size: 1rem;
    height: 2.4rem;
  }

  main{
    flex-direction: column;
  }

  body{
    width: 100%;
  }

  .Logo_pagina_login {
    width: 100%;
    height: auto;
  }

  .parte_login {
    width: 80%;
    height: auto;
    padding: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #login_esc {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email, .senha {
    width: 80%;
  }

  #botao_entrar, .btnOK {
    width: 80%;
  }


  .fechar {
    margin-left: 0.2rem;
    margin-top: 0.2rem;
  }

  hr {
    width: 80%;
  }

  .pop_up h2 {
    font-size: 1.5rem;
  }
}
