@import url(./fonts_colors.css);



main {
    margin-top: 3rem;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
}

.imagens_do_centro {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10rem;
    margin-block: 3.5rem;
}

.img_esquerda {
    text-align: center;
}

.img_direita {
    text-align: center;
}

.imagem_tamanho {
    width: 15rem;
    margin-bottom: 1rem;
}

.descrição {
    font-family: 'Montserrat', sans-serif;
}

.texto_clique {
    display: flex;
    justify-content: center;
}