@import url(./fonts_colors.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 5.625rem;
    margin-top: 2.9375rem;
}

.imagens_do_centro {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10rem;
    margin-block: 1.3rem;
}

.img_esquerda {
    text-align: center;
}

.img_direita {
    text-align: center;
}

.imagem_tamanho {
    width: 25.1875rem;
    margin-bottom: 1.3125rem;
}

#esquerda {
    width: 27.0625rem;
    margin-bottom: 0.125rem;
}

.descrição {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    margin-bottom: 5.75rem;
}

.texto_clique {
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    font-family: 'Montserrat', sans-serif;
}