@import url(./fonts_colors.css);

body{
    display: flex;
    flex-direction: column;
}

#main_rec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#infos {
    width: 30rem;
    height: 13rem;
    background-color: #4DA2C2;
    border-radius: 2rem;
}

#encontre {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
}

hr {
    border: 1px white solid;
}

#digite_email {
    margin-left: 1rem;
    margin-top: 1rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

#email {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#email input {
    width: 27rem;
    padding: 0.3rem;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;

}

#botões {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 1rem;
}

#procura {
    margin-right: 1rem;
    padding: 0.5rem;
    width: 5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: #BDE26C;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#cancela {
    padding: 0.5rem;
    width: 5rem;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    background-color: #E1DDDD;
    font-family: 'Montserrat', sans-serif;
}

#cancela:hover {
    cursor: pointer;
    background-color: beige;
    font-size: 0.7rem;
    
}

#procura:hover {
    cursor: pointer;
    background-color: #4CA426;
    font-size: 0.7rem;
}