@import url(./fonts_colors.css);

body {
    display: flex;
    flex-direction: column;
}

#main_rec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#infos {
    width: 48rem;
    height: 22.1875rem;
    background-color: #4DA2C2;
    border-radius: 2rem;
}

#encontre {
    margin-top: 1.375rem;
    margin-left: 1rem;
    margin-bottom: 0.34375rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.125rem;
    font-weight: lighter;
}

hr {
    border: 2px white solid;
}

#digite_email {
    margin-left: 1rem;
    margin-top: 2.71875rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
}

#email {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3.0625rem;
    margin-bottom: 1.125rem;
}

#email input {
    width: 43.75rem;
    height: 3.125rem;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5625rem;
}

#botões {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 1.75rem;
}

#procura {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.375rem;
    height: 3.125rem;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 1.9375rem;
    font-size: 1.5625rem;
    font-weight: bold;
    border: none;
    background-color: #BDE26C;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#cancela {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.375rem;
    height: 3.125rem;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.5625rem;
    font-weight: bold;
    border: none;
    background-color: #E1DDDD;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#cancela:hover {
    cursor: pointer;
    background-color: beige;
    
}

#procura:hover {
    cursor: pointer;
    background-color: #4CA426;
}

@media only screen and (max-width: 600px) {
    #infos{
        width: 90vw;
        height: auto;
    }
    #cancela, #procura{
        width: 8rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    #email input{
        width: 97%;
    }
    #digite_email{
        font-size: 1.3rem;
    }
    #encontre{
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }
}