@import url(./fonts_colors.css);

body{
    display: flex;
    flex-direction: column;
}

#main_rec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#infos {
    width: 768px;
    height: 355px;
    background-color: #4DA2C2;
    border-radius: 2rem;
}

#encontre {
    margin-top: 22px;
    margin-left: 16px;
    margin-bottom: 5.5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
}

hr {
    border: 2px white solid;
}

#digite_email {
    margin-left: 16px;
    margin-top: 43.5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#email {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 49px;
    margin-bottom: 18px;
}

#email input {
    width: 700px;
    height: 50px;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}

#botões {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 28px;
}

#procura {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 31px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: #BDE26C;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#cancela {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: #E1DDDD;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#cancela:hover {
    cursor: pointer;
    background-color: beige;
    
}

#procura:hover {
    cursor: pointer;
    background-color: #4CA426;
}