@import url(./fonts_colors.css);

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#tamanho_quadras {
    background: #4DA2C2;
    height: 46.25rem;
    width: 63.125rem;
    display: flex;
    padding: 3.5rem;
    border-radius: 24px;
    margin-top: 6.25rem;
}

section {
    display: flex;
    flex-direction: column;
}

.pergunta {
    display: flex;
    gap: 4rem;
    margin-bottom: 1.5625rem;
}

.alternativas {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

p {
    text-align: center;
    background: #FF0000;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 12px;
    color: #fff;
    font-size: 2rem;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3nWuZEC.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

h1 {
    text-align: center;
    margin-bottom: 6.25rem;
    color: #fff;
    font-size: 5.625rem;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3nWuZEC.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

h2 {
    width: 14.75rem;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXpsog.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

button {
    color: #fff;
    background: #008037;
    border: none;
    border-radius: 12px;
    height: 3.125rem;
    width: 11.25rem;
    font-size: 1.875rem;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxwL3I-JCGChYJ8VI-L6OO_au7B46r2z3nWuZEC.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

.correta {
    background: #71C34E;
}