@import url(./fonts_colors.css);

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.0625rem;
}

#escolha {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 8.8125rem;
    margin-bottom: 9.9375rem;
}

.caixa_botao {
    width: 34.1875rem;
    height: 22.5625rem;
    margin-bottom: 1.375rem;
    border-radius: 30px;
    background-color: #4DA2C2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#link_youtube {
    border-radius: 30px;
}

.imagens_mapa {
    border-radius: 30px;
}

.botoes {
    width: 34.1875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapas_mentais {
    width: 100%;
    gap: 1.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa {
    width: 34.1875rem;
    height: 18.75rem;
    padding: 1.0625rem;
    margin-bottom: 3.5625rem;
    border-radius: 30px;
    background-color: #4DA2C2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h2 {
    display: flex;
    justify-content: center;
}

#Texto_inferior {
    margin-top: -1.1875rem;
    margin-bottom: 5rem;
    height: 3.3125rem;
    width: 100%;
}

#ir_topo {
    margin-top: -1.1875rem;
    float: right;
    margin-right: 4.5rem;
}

#ir_topo img {
    width: 3.125rem;  
}

p,h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 5.625rem;
}

#ir_topo:hover {
    transform: rotateY(180deg);
    transition: transform 1s;
}

.botao_popup {
    border: none;
    height: 18.75rem;
    margin-bottom: 3.5625rem;
    border-radius: 30px;
    margin-left: 3rem;
}

dialog {
    border: none;
    border-radius: 5px;
}

.fechar {
    border-radius: 3px;
    background-color: red;
    width: 1rem;
    height: 1.3rem;
    color: white;
}

#superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#inferior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mapas_mentais{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup {
    margin-inline: auto;
    border: #4DA2C2 10px solid;
    box-shadow: 0rem 0rem 15rem 0.7rem black;
}

.popup button {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    float: right;
    border-radius: 100%;
    padding: 0.8rem;
    color: aliceblue solid bold;

}

dialog img {
    width: 85rem;
}

